@charset "UTF-8";

/*----- CSS Document------*/

/*----Base Styles----*/
html, body {
	background: url(../img/symphony.png) repeat;
	/* Background image from http://subtlepatterns.com/ */
	color: DimGray;
	font-family: 'Montserrat', sans-serif;
	margin: 0px;	
	text-align: center;
}

h1, h2 {
	color: tomato;
}

/*----Wrapper Section----*/
#wrapper {
	margin-top: 150px;
}

h1 .name {
	border: 10px solid tomato;
	display: inline;	
	padding: 30px;
}

h2 .title {
	margin-top: 40px;
    padding: 30px;
}

.line-break {
	border: 1px solid grey;
    margin: 30px auto;
    width: 50%;
}

/*phone*/
span {
	color: DarkSeaGreen;
}

/*email-link*/
a {
	color: DarkSeaGreen;
	text-decoration: none;
}

/*Quote*/
.quote {
	font-size: 20px;
	font-style: italic;
	line-height: 30px;	
	margin-top: 50px;
}

